body{
    margin: 0;
    padding: 0;
}

.hero-area{
    width: 1600px;
    margin: 0 auto;
    background: url(images/ss.jpg);
    min-height: 60vh;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
}
.hero-h1{
   padding-top: 200px;
   margin: 0;
}
.donate-area{
    margin: 0 auto;
    text-align: center;
}
.flexible-container{
    display: flex;
    font-size: 20px;
    padding: 25px;
    
}
.h-w{
   text-align:center;
   padding: 10px;
   
}
#ox{
    text-align: center;
    padding: 10px;
}
.no{
text-align: center;
margin: 0 auto;
}
.no{
    text-align: center;
    margin: 0 auto;
    padding: 25px;
}
.aa{
text-align: center;
margin: 0 auto;
padding: 35px;
}

