body {
    margin: 0;
    padding: 0;
    width: 1600px;
    margin: 0 auto;
    text-align: center;
}

.hero-area {
    color: #fff;
    background: url(images/ss.jpg);
    min-height: 70vh;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center center;
}

.p {
    font-size: 30px;
}

.donate-now {
    background: #FF646A;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    outline: none;
    border: none;
}

.hero-h1 {
    padding-top: 200px;
    margin: 0;
    font-size: 60px;
    font-weight: bold;
}

.donate-area {
    margin: 0 auto;
    text-align: center;
}

.w-70 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.divide-5{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.donate-h1{
    font-size: 50px;
}
p{
    font-size: 27px;
}
.divide-5{
    border: 5px;
box-shadow: gray;
}
.tk{
    border: #FF646A;
    justify-content: flex-start;
}
.plan{
    font-size: 50px;
}
.click{
    width: 70px;
    border: 5px solid yellowgreen;
    text-align: center;
}
.Donate-plan{
    font-size: 50px;
    width: 300px;
    height: 300px;
    text-align: center;
}
.be{
    font-style: italic;
}
.do-it{
    contain: content;
    background-color: gray;
}