body {
    margin: 0;
    padding: 0;
}

.hero-area {
    color: #fff;
    width: 1600px;
    margin: 0 auto;
    background: url(images/ss.jpg);
    min-height: 60vh;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    background-position: center center;
}
.p{
    font-size: 30px;
}
.donate-now{
    background: #FF646A;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    outline: none;
    border: none;
}

.hero-h1 {
    padding-top: 200px;
    margin: 0;
    font-size: 60px;
}

.donate-area {
    margin: 0 auto;
    text-align: center;
}
